<div class="container">
  <h1>Add New Standard</h1>
  <%= simple_form_for [@klass, @standard] do |f|%>
  <%= f.input :name, required: true %>
  <%= f.submit "Add New Standard", class: "btn btn-primary" %>
  <%= link_to "Cancel", klass_standards_path, class: "btn btn-primary" %>
  <% end %>
</div>
